<h1>Accueil - Dayot Nicolas<h1>

<h2>Liste des objectifs</h2>

<p>Lien gitlab du projet : <a href="https://gitlab.com/dayotNicolas/vcubwatcher_dayot_nicolas/-/tree/master/VCubWatcher">https://gitlab.com/dayotNicolas/vcubwatcher_dayot_nicolas/-/tree/master/VCubWatcher</a></p>

<span><s>1. Avoir une application ASP.Net Core de base nommée "VCubWatcher" qui tourne sur sa machine

    Démarrer un site avec asp dotnet core :  https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-5.0&tabs=visual-studio</s></span>
<br/>
<span><s>2. Créer un repository public sur github, bitbucket ou gitlab pour héberger votre code.

    gitignore de base pour .NET Core :  https://gist.github.com/vmandic/ac2ecc9c24f6899ee0ec46e4ce444a0e</s></span>
<br/>
<span><s>3. Publier votre code sur le repository à chaque avancée</s></span>
<br/>
<span><s>4. Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : "Accueil", "Liste des stations", "Carte", "Mes favoris"</s></span>
<br/>
<span><s>5. Compléter la pages "Accueil" pour présenter votre travail, votre nom/prenom, cette liste d'objectifs (que vous rayerez au fur et à mesure qu'ils sont complétés) et l'URL où votre code source est visible</s></span>
<br/>
<span>6. Se brancher sur l'API Vcub de Bordeaux Métropole pour récupérer les données en temps réel</span>
<br/>
<span>7. Afficher les données de l'API sous forme de tableau sur la page "Liste des stations" (les stations sont triées par ordre alphabétique). Pour chaque station on affichera : la commune, le nom de la station, le nombre de vélo électriques, le nombre de vélos au total, ainsi que le nombre d'emplacements libres.</span>
<br/>
<span>8. Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement)</span>
<br/>
<span>9. Ajouter sur chaque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos disponibles et de places libres à la station en question</span>
<br/>
<span>10. Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris</span>
<br/>
<span>11. Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris</span>
<br/>
<span>12. Stocker les stations favorites dans les cookies de votre navigateur ou le localstorage</span>
<br/>
<span>13. Centrer automatiquement la carte par rapport à la position de l'utilisateur</span>
<br/>
<span>14. Trier automatiquement la liste des stations par rapport à la position de l'utilisateur</span>
<br/>
<span>15. Rendre votre application bilingue Français / Anglais</span>
<br/>
<span>16. Déployer votre code sur un serveur accessible publiquement en consultation</span>
<br/>
<span>17. Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)</span>
<br/>
<span>18. BONUS : toute fonctionnalité supplémentaire sera valorisée, pensez-juste à l'indiquer sur votre page d'accueil que je puisse la comptabiliser</span>